html {
  line-height: 1.2em;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

#submit {
  border: 1px solid;
  box-shadow: 2.5px 5px #595178;
}

body {
  background-color: #193473;
  color: white
}

h1 {
  font-size: 4.236em; /* 67.773px */
}

#container {
  width: 90%;
  margin:auto;
  background-color: green;
  display:block;
  box-sizing:border-box;
  padding:1em;
}

label {
  display:block;
  box-sizing:border-box;
  margin:auto;
  width: 100%;
  background-color: red;
}

input {
  display: block;
  box-sizing: border-box;
  margin:auto;
  padding: 0.9em;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 1.5em;
}

input[type=submit] {
  display: block;
  box-sizing: border-box;
  margin: auto;
 width: 11.089em;
 background-color: #0D6767;
  color: white;
  padding: 1em 1.618em; /*16px 25.88px*/
  border: none;
  border-radius: 0.236em; /* 3.777px */
  cursor: pointer;
  margin-top: 1.5em;
}


/*Tablets*/
@media only screen and (min-width: 768px) {
  body {
    background-color: #46609B;
  }
  
  input {width:50%;}

  label {
    width: 6em;
    float:left;
  }
 
  /*
  #submit {
    border: 1px solid;
    box-shadow: 5px 10px #888888;
  } */
}
  

/*Desktop*/
@media only screen and (min-width: 992px) {
  body {
    background-color: #2B488C;
  }
  
  input {width:40%;}

  label {
    width: 10%;
    float:left;
  }
}


